<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>E-Scrunch Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
        <a href="index.html" class="brand-wrap">
          <img
            src="/assets/imgs/theme/logo.svg"
            class="logo"
            alt="Escrunch Dashboard"
          />
        </a>
        <div>
          <button class="btn btn-icon btn-aside-minimize">
            <i class="text-muted material-icons md-menu_open"></i>
          </button>
        </div>
      </div>
      <nav>
        <ul class="menu-aside">
          <li class="menu-item active">
            <a class="menu-link" href="/admin/adminhome">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="menu-item has-submenu">
            <a class="menu-link" href="page-products-list.html">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Products</span>
            </a>
            <div class="submenu">
              <a href="/admin/adminproducts">Product List</a>
              <!-- <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a> -->
              <a href="/admin/adminCategory">Categories</a>
            </div>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/adminorderlists">
              <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Orders</span>
            </a>
          </li>

          <li class="menu-item has-submenu">
            <a class="menu-link" href="/admin/userslist">
              <i class="icon material-icons md-store"></i>
              <span class="text">Users</span>
            </a>
            <div class="submenu">
              <!-- <a href="page-sellers-cards.html">Sellers cards</a> -->
              <a href="/admin/userslist">Users list</a>
              <!-- <a href="page-seller-detail.html">Seller profile</a> -->
            </div>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/addproduct">
              <i class="icon material-icons md-add_box"></i>
              <span class="text">Add product</span>
            </a>
          </li>
          <li class="menu-item has-submenu">
            <a class="menu-link" href="/admin/userslist">
              <i class="icon material-icons md-store"></i>
              <span class="text">Coupons</span>
            </a>
            <div class="submenu">
              <!-- <a href="page-sellers-cards.html">Sellers cards</a> -->
              <a href="/admin/coupons">Coupon</a>
              <!-- <a href="page-seller-detail.html">Seller profile</a> -->
            </div>
          </li>
          <li class="menu-item has-submenu">
            <a class="menu-link" disabled href="#">
              <i class="icon material-icons md-pie_chart"></i>
              <span class="text">Sales</span>
            </a>
            <div class="submenu">
              <a href="/admin/salesreport">Sales Report</a>
            </div>
          </li>
          <li class="menu-item has-submenu">
            <a class="menu-link" disabled href="#">
              <i class="icon material-icons md-stars"></i>
              <span class="text">Banners</span>
            </a>
            <div class="submenu">
              <a href="/admin/bannerlist">Banner Lists</a>
            </div>
          </li>
        </ul>
        <br />
        <br />
      </nav>
    </aside>

    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div
              class="card shadow-2-strong card-registration"
              style="border-radius: 15px"
            >
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Banner</h3>

                <form
                  id="bannerForm"
                  action="/admin/addbanner"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="bannername"
                          >Banner Name</label
                        >
                        <input
                          type="text"
                          id="bannername"
                          class="form-control form-control-lg"
                          name="bannername"
                        />
                        <span
                          class="error-message"
                          id="bannername-error"
                        ></span>
                      </div>
                    </div>

                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="bannerurl"
                          >Banner Url</label
                        >
                        <input
                          type="text"
                          id="bannerurl"
                          class="form-control form-control-lg"
                          name="bannerurl"
                        />
                        <span class="error-message" id="bannerurl-error"></span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="addimage"
                            >Add images</label
                          >
                          <input type="file" name="images" multiple required />
                        </div>
                      </div>
                    </div>

                    <div class="mt-4 pt-2">
                      <button class="btn btn-primary btn-lg" type="submit">
                        ADD BANNER
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const bannerForm = document.getElementById("bannerForm");
        const bannerNameInput = document.getElementById("bannername");
        const bannernameError = document.getElementById("bannername-error");
        const imagesInput = document.querySelector('input[type="file"]');
        const imageError = document.getElementById("image-error");
        const bannerUrlInput = document.getElementById("bannerurl");
        const bannerUrlError = document.getElementById("bannerurl-error");

        bannerForm.addEventListener("submit", function (event) {
          let isValid = true;

          if (!isValidBannerName(bannerNameInput.value)) {
            bannernameError.textContent = "Invalid input";
            bannernameError.style.display = "block";
            isValid = false;
          } else {
            bannernameError.style.display = "none";
          }

          if (!isValidBannerUrl(bannerUrlInput.value)) {
            bannerUrlError.textContent = "Invalid input";
            bannerUrlError.style.display = "block";
            isValid = false;
          } else {
            bannerUrlError.style.display = "none";
          }

          if (!isValid) {
            event.preventDefault(); // Prevent form submission if validation fails
          }
        });

        function isValidBannerName(bannername) {
          const bannernamePattern =
            /^[A-Za-z0-9\s!@#$%^&*()_+-=,.<>;:'"\\/{}[\]]*$/;
          const containsLetter = /[A-Za-z]/.test(bannername);
          return (
            bannername.trim() !== "" &&
            bannernamePattern.test(bannername) &&
            containsLetter
          );
        }

        function isValidBannerUrl(bannerurl) {
          const bannerurlPattern =
            /^[A-Za-z0-9\s!@#$%^&*()_+-=,.<>;:'"\\/{}[\]]*$/;
          return bannerurl.trim() !== "" && bannerurlPattern.test(bannerurl);
        }
      });
    </script>

    <style>
      .error-message {
        color: red;
        display: none;
      }
    </style>
  </body>
</html>
